/* .slider-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 300px;
  height: 100%;
  background-color: rgb(83, 221, 201);
  transition: transform 0.3s ease-in-out;
}

.show {
  transform: translateX(0%);
}

.hide {
  transform: translateX(100%);
} */
.colorrize {
  color: rgb(17, 204, 204); /* set the desired color */
  font-size: 2em;
  
}
.my-date-picker {
  height: 100px;
  width: 100px;
  margin-left:10%;
}

.colorrize:first-letter {
  text-transform: capitalize; /* capitalize the first letter */
}
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reelscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.container {
  margin-top: 30%;
  transition: transform 0.3s ease-in-out;
}

.container.shifted-down,
.slider-containerr.shifted-down {
  transform: translateY(600px);
}

.mainreelscontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderr {
  margin-left: 40px;
}

.slider-containerr{
  /* background-color: rgb(218, 13, 218);
  display: flex;
  height: 30%;
  width: 100%;
  flex-direction: column; */


  /* position: fixed; */

  /* left: 0;
  right: 0;
 
  padding: 20px;
  
  transition: transform 0.3s; */
  
}
.slider-containerr {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: auto;
  width: auto; */
  background-color: rgb(17, 200, 200);
 
  padding: 20px;
  transition: top 0.3s;
}

.show {
  top: 0%;
}

.hide {
  top: -100%;
}



.newslidercontainer{
  display: flex;
  /* margin-top: 3%; */
  margin-right: 80%;
}
.pslider{
  height: 10px;
  width: 150px;
  /* border:2px solid black; */
  /* margin-left: 10%; */
  
  text-align: center;
 
}
.psliderr{
  height: 5%;
  width:5%;
  margin-left: 20%;
 
  text-align: center;
}
.sliderbottomdate{
 margin-right: 60%;
 /* margin-top: 3%; */
}